#content {
	  background-color: #222222;

}

#thread {
  margin: 15px;
  padding: 15px;
  background-color: #111111;
}

#titlebar {
  overflow:hidden;
}

#title {
  float:left;
	color: #FFAA00;
}

#post-button {
  float:right;
}

.post {
  overflow:hidden;
  margin:10px 0px;
  box-sizing: border-box;
}

.post-content {
  width:85%;
  padding:10px 25px;
  background-color: #333333;
  float:right;
  box-sizing: border-box;
}

.post-data {
  width:15%;
  float:left;
  color: #FFAA00;
  background: #222;
  box-sizing: border-box;
  padding: 15px;
  /* CSS is stom.. */
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}
