#content {
	  background-color: #222222;

}

#thread {
  margin: 15px;
  padding: 15px;
  background-color: #111111;
}

#titlebar {
  overflow:hidden;
}

#title {
  float:left;
	color: #FFAA00;
}

#post-button {
  float:right;
}

.post {
  overflow:hidden;
  margin:10px 0px;
}

.post-content {
  width:75%;
  padding:10px 25px;
  background-color: #333333;
  float:left;
}

.post-data {
  width:15%;
  float:right;
  color: #FFAA00;
}
